@model Entities.ViewModels.SubTopicVM
@{
}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add New Sub-Topic of Topic @ViewBag.Topic Between Pages @ViewBag.TStartPage and @ViewBag.TEndPage</h4>
                        @*<p class="card-description">
                            Please Add The New Sub-Topic for @ViewBag.Topic and Press the Add Button.
                        </p>*@
                        <form class="forms-sample" method="post"
                              asp-controller="Grade" asp-action="SubTopic">
                            <input type="hidden" asp-for="TopicId" />
                            @if (User.HasClaim("Permission", "SubTopic.Create"))
                            {
                                <h4>Sub-Topic</h4>
                                <div class="row">
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="SubTopicName">Sub-Topic Name</label>
                                            <input type="text" class="form-control" asp-for="SubTopicName" placeholder="Enter Sub-Topic Name"/>
                                            <span asp-validation-for="SubTopicName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="StartPage">Start Page</label>
                                            <input type="number" min="@Model.MinPage" max="@Model.MaxPage" class="form-control" asp-for="StartPage" placeholder="Enter Start Page"/>
                                            <span asp-validation-for="StartPage" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-4">
                                        <div class="form-group">
                                            <label asp-for="EndPage">End Page</label>
                                            <input type="number" min="@Model.MinPage" max="@Model.MaxPage" class="form-control" asp-for="EndPage" placeholder="Enter End Page"/>
                                            <span asp-validation-for="EndPage" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right mt-5">
                                    <button type="submit" class="btn btn-primary mr-2">Add</button>
                                </div>
                            }
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">Sub-Topics of Topic @ViewBag.Topic</h4>
                                        @*<p class="card-description">
                                            Sub-Topic of the Topic @ViewBag.Topic
                                        </p>*@
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered">
                                                <thead class="bg-primary text-white">
                                                    <tr>
                                                        @if (User.HasClaim("Permission", "SubTopic.Update") || User.HasClaim("Permission", "SubTopics.Delete")){
                                                        <th>Actions</th>
                                                        }
                                                        <th>Status</th>
                                                        <th>Sub-Topic Name</th>
                                                        <th>Start Page</th>
                                                        <th>End Page</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="term-data">
                                                    @foreach (var SubTopic in ViewBag.Topics)
                                                    {
                                                        <tr>
                                                            @if (User.HasClaim("Permission", "SubTopic.Update") || User.HasClaim("Permission", "SubTopics.Delete"))
                                                            {
                                                                <td class="actions">
                                                                    @if (User.HasClaim("Permission", "SubTopic.Update")){
                                                                    <a class="fa fa-edit mr-3" asp-route-id="@SubTopic.SubTopicId" asp-route-TopicId="@Model.TopicId" asp-controller="Grade" asp-action="UpdateSubTopic" role="button"></a>
                                                                    }
                                                                    @if (User.HasClaim("Permission", "SubTopics.Delete"))
                                                                    {
                                                                    <a class="fa fa-trash text-danger" onclick="return confirm('Are you sure you want to delete?');" asp-route-id="@SubTopic.SubTopicId" asp-route-TopicId="@Model.TopicId" asp-controller="Grade" asp-action="DeleteSubTopic" role="button"></a>
                                                                    }
                                                                </td>
                                                            }
                                                            <td>
                                                            @if (SubTopic.IsActive == true)
                                                            {
                                                                <label class="badge badge-success">Active</label>
                                                            }
                                                            else
                                                            {
                                                                <label class="badge badge-danger">InActive</label>
                                                            }
                                                            </td>
                                                            <td>@SubTopic.SubTopicName</td>
                                                            <td>@SubTopic.StartPage</td>
                                                            <td>@SubTopic.EndPage</td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>