@*@model IEnumerable<Entities.Models.Campus>*@
@*<div class="main-panel">
   <div class="content-wrapper">
          <div class="row">

            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Campus</h4>
                  <p class="card-description">
                    The Campus can be added here!
                  </p>
                  <div class="table-responsive">
                            @if (Model.Any())
                            {
                                   <table class="table table-hover">
                                   <thead>
                                    <tr>
                                      <th>Id</th>
                                      <th>School Id</th>
                                      <th>Code</th>
                                      <th>Description</th>
                                      <th>Active</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                        @foreach (var campus in Model)
                                        {
                                                     <tr>
                                                      <td>@campus.CampusId</td>
                                                      <td>@campus.SchoolId</td>
                                                      <td>@campus.CampusCode</td>
                                                      <td>@campus.Description</td>
                                                      <td>
                                                    @if (campus.IsActive)
                                                    {
                                                                      <label class="badge badge-success">Active</label>
                                                    }
                                                    else
                                                    {
                                                                     <label class="badge badge-danger">InActive</label>
                                                    }
                                                      </td>
                                                      <td>
                                                       <a class="btn btn-primary" asp-route-id="@campus.CampusId" asp-controller="School" asp-action="UpdateCampus" role="button">Update</a>
                                                                       <a class="btn btn-primary" asp-route-id="@campus.CampusId" asp-controller="School" asp-action="DeleteCampus" role="button">Delete</a>
                                                      </td>
                                                    </tr> 
                                        }
                                  </tbody>
                                </table>
                            }
                            else
                            {
                                  <h3 class="text-warning">No Data Found!</h3>
                            }
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 offset-10">
              <a class="btn btn-primary" asp-controller="School" asp-action="AddCampus" role="button">Add</a>
            </div>
          </div>
        </div>
</div>*@