@*@model IEnumerable<Entities.Models.GradeSection>*@
@*<div class="main-panel">
   <div class="content-wrapper">
          <div class="row">

            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add Grade Group</h4>
                  <p class="card-description">
                    The Grade Group can be added here!
                  </p>
                  <div class="table-responsive">
                            @if (Model.Any())
                            {
                                               <table class="table table-hover">
                                               <thead>
                                                <tr>
                                                  <th>Actions</th>
                                                  <th>Id</th>
                                                  <th>Grade Group Id</th>
                                                  <th>Code</th>
                                                  <th>Description</th>
                                                  <th>Active</th>
                                                </tr>
                                              </thead>
                                              <tbody>
                                        @foreach (var grade in Model)
                                        {
                                                <tr>
                                                   <td class="actions">
                                                    <a class="fa fa-edit mr-3" asp-route-id="@grade.GradesSectionId" asp-controller="School" asp-action="UpdateGradeSection" role="button"></a>
                                                            <a class="fa fa-trash text-danger" onclick="return confirm('Are you sure you want to delete?');" asp-route-id="@grade.GradesSectionId" asp-controller="School" asp-action="DeleteGradeSection" role="button"></a>
                                                   </td>
                                                    <td>@grade.GradesSectionId</td>
                                                    <td>@grade.GradeId</td>
                                                    <td>@grade.GradesSectionCode</td>
                                                    <td>@grade.Description</td>
                                                   <td>
                                                    @if (grade.IsActive)
                                                    {
                                                        <label class="badge badge-success">Active</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="badge badge-danger">InActive</label>
                                                    }
                                                  </td>
                                                  </tr> 
                                        }
                                              </tbody>
                                            </table>
                            }
                            else
                            {
                                              <h3 class="text-warning">No Data Found!</h3>
                            }
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2 offset-10">
              <a class="btn btn-primary" asp-controller="School" asp-action="AddGradesSection" role="button">Add</a>
            </div>
          </div>
        </div>
</div>*@