@model IEnumerable<Entities.Models.Student>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">

            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Students</h4>
                        @*<p class="card-description">
                        The Employees can be added here!
                        </p>*@
                        @*<form class="forms-sample" method="post"
                              asp-controller="Student" asp-action="AcademicPlannings">*@
                        <div class="table-responsive">
                                <table class="table table-hover table-bordered" id="StudentTable">
                                    <thead class="bg-primary text-white">
                                        <tr>
                                            @if (User.HasClaim("Permission", "Employee.Update") || User.HasClaim("Permission", "Employee.Delete"))
                                            {
                                                <th>Actions</th>
                                            }
                                            <th>Status</th>
                                            <th>Picture</th>
                                            <th>First Name</th>
                                            <th>Last Name</th>
                                            <th>Reg No.</th>
                                           @* <th>Registraion No</th>
                                            <th>Student Registraion No</th>
                                            <th>Candidate No</th>
                                            <th>Candidate Name</th>
                                            <th>Gender</th>
                                            <th>Place of Birth</th>
                                            <th>Only Registered No Admitted</th>
                                            <th>ITS Number</th>
                                            <th>Phone</th>*@
                                            <th>Class Name</th>
                                            <th>Class Teacher</th>
                                            <th>Parent Name</th>
                                            @if (User.HasClaim("Permission", "Letters.Create"))
                                            {
                                            <th>Write Letter</th>
                                            }
                                            @if (User.HasClaim("Permission", "Student.Details"))
                                            {
                                            <th>Details</th>
                                            }
                                            @*<th>Mobile</th>
                                            <th>Email Address</th>
                                            <th>Address</th>
                                            <th>Field Of Specialization</th>
                                            <th>Department</th>
                                            <th>Sub Department</th>
                                            <th>Designation</th>
                                            <th>Joining Date</th>
                                            <th>Employee Type</th>
                                            <th>Probation Period</th>
                                            <th>Start of Probation Period</th>
                                            <th>End of Probation Period</th>
                                            <th>Contract Period</th>
                                            <th>Start of Contract</th>
                                            <th>End of Contract</th>
                                            <th>Confirmation Date</th>*@
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var employee in ViewBag.Students)
                                        {
                                            <tr>
                                                @if (User.HasClaim("Permission", "Student.Update") || User.HasClaim("Permission", "Student.Delete"))
                                                {
                                                    <td class="actions">
                                                        @if (User.HasClaim("Permission", "Student.Update"))
                                                        {
                                                        <a class="fa fa-edit mr-3" asp-route-StudentId="@employee.StudentId" asp-controller="Student" asp-action="UpdateStudent" role="button"></a>
                                                        }
                                                        @if (User.HasClaim("Permission", "Student.Delete"))
                                                        {
                                                        <a class="fa fa-trash text-danger" onclick="return confirm('Are you sure you want to delete?');" asp-route-StudentId="@employee.StudentId" asp-controller="Student" asp-action="DeleteStudent" role="button"></a>
                                                        }
                                                    </td>
                                                }
                                                <td>
                                                    @if ((bool)employee.Status)
                                                    {
                                                        <label class="badge badge-success">Active</label>
                                                    }
                                                    else
                                                    {
                                                        <label class="badge badge-danger">InActive</label>
                                                    }
                                                </td>
                                                <td><img src="~/studentsimages/@employee.Picture" height=100 width=100 /></td>
                                                <td>@employee.FName</td>
                                                <td>@employee.LName</td>
                                                <td>@employee.RegNo</td>
                                                <td>@employee.ClassName</td>
                                                <td>@employee.ClassTeacher</td>
                                                <td>@employee.ParentName</td>
                                                @if (User.HasClaim("Permission", "Letters.Create"))
                                                {
                                                <td><a asp-controller="School" asp-action="AddLetter" asp-route-StudentId="@employee.StudentId" class="btn btn-outline-info btn-sm">Write Letter</a></td>
                                                }
                                                @if (User.HasClaim("Permission", "Student.Details"))
                                                {
                                                <td><a asp-controller="Student" asp-action="StudentDetails" asp-route-StudentId="@employee.StudentId" class="btn btn-outline-info btn-sm">Details</a></td>
                                                }
                                            @*<td>@employee.FatherName</td>
                                                <td>@employee.SpouseName</td>
                                                <td>@employee.GenderName</td>
                                                <td>@employee.SchoolName</td>
                                                <td>@employee.CampusName</td>*@
                                                @*<td><a class="fa fa-edit mr-3" asp-route-Id="@employee.EmployeeId" asp-controller="HumanResource" asp-action="EmployeeDetails" role="button"></a></td>*@
                                                @*<td>@employee.MaritalStatus</td>
                                                <td>@employee.Role</td>
                                                <td>@employee.Mobile</td>
                                                @if (employee.DOB == null)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td class="dates">@Convert.ToDateTime(employee.DOB).ToString("dd-MMM-yyyy")</td>
                                                }
                                                <td>@employee.CNICNo</td>
                                                @if (employee.CNICIssueDate == null)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td class="dates">@Convert.ToDateTime(employee.CNICIssueDate).ToString("dd-MMM-yyyy")</td>
                                                }
                                                @if (employee.CNICExpiryDate == null)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td class="dates">@Convert.ToDateTime(employee.CNICExpiryDate).ToString("dd-MMM-yyyy")</td>
                                                }
                                                <td>@employee.Email</td>
                                                <td>@employee.Address</td>
                                                <td>@employee.FieldOfSpecialization</td>
                                                <td>@employee.DepartmentName</td>
                                                <td>@employee.SubDepartmentName</td>
                                                <td>@employee.DesignationName</td>
                                                @if (employee.JoiningDate == null)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td class="dates">@Convert.ToDateTime(employee.JoiningDate).ToString("dd-MMM-yyyy")</td>
                                                }
                                                @if (employee.EmployeeType == 1)
                                                {
                                                    <td>Permanent</td>
                                                }
                                                else
                                                {
                                                    <td>Contractual</td>
                                                }
                                                <td>@employee.ProbationPeriod</td>
                                                @if (employee.StartofProbationDate == null)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td class="dates">@Convert.ToDateTime(employee.StartofProbationDate).ToString("dd-MMM-yyyy")</td>
                                                }
                                                @if (employee.EndofProbationDate == null)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td class="dates">@Convert.ToDateTime(employee.EndofProbationDate).ToString("dd-MMM-yyyy")</td>
                                                }
                                                <td>@employee.Period</td>
                                                @if (employee.StartofPeriodDate == null)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td class="dates">@Convert.ToDateTime(employee.StartofPeriodDate).ToString("dd-MMM-yyyy")</td>
                                                }
                                                @if (employee.EndofPeriodDate == null)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td class="dates">@Convert.ToDateTime(employee.EndofPeriodDate).ToString("dd-MMM-yyyy")</td>
                                                }
                                                @if (employee.ConfirmationDate == null)
                                                {
                                                    <td></td>
                                                }
                                                else
                                                {
                                                    <td class="dates">@Convert.ToDateTime(employee.ConfirmationDate).ToString("dd-MMM-yyyy")</td>
                                                }*@
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            @*}
                            else
                            {
                                <h3>No Data Found!</h3>
                            }*@
                        </div>
                    </div>
                </div>
            </div>
            @if (User.HasClaim("Permission", "Student.Create"))
            {
                <div class="col-2 offset-10">
                    <a class="btn btn-primary" asp-controller="Student" asp-action="AddStudent" role="button">Add</a>
                </div>
            }
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $('#StudentTable').DataTable();
        });
    </script>
}