@model myWebApp.ViewModels.AcademicCalendar.CalendarVM

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Academic Calendar</h4>
                        @*<p class="card-description">
                        Academic Planning of the Year
                        </p>*@
                        <form asp-asp-controller="AcademicCalendar" asp-action="Calendar" method="Get">
                            <div class="row">
                                @if (User.IsInRole("Director Academics") || User.IsInRole("Deputy Coordinator"))
                                {
                                    <div class="col-2 text-center">
                                        <div class="form-group">
                                            <label>Academic Calendar</label>
                                            <select asp-for="YearId" class="form-select" onchange="GetSchoolSections(this.id)" aria-label="Default select example">
                                                <option selected>Select Calendar Please</option>
                                                @foreach (var sSection in ViewBag.Calendars)
                                                {
                                                    <option value="@sSection.YearId">@sSection.YearName</option>
                                                }
                                            </select>
                                            <span asp-validation-for="YearId" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-2 text-center">
                                        <div class="form-group">
                                            <label>Section</label>
                                            <select asp-for="SchoolSectionId" class="form-select" onchange="GetGrades(this.id)" aria-label="Default select example">
                                                <option selected>Select Section Please</option>
                                                @if (Model.SchoolSectionId != null)
                                                {
                                                    @foreach (var sSection in ViewBag.SchoolSections)
                                                    {
                                                        <option value="@sSection.SchoolSectionId">@sSection.SectionName</option>
                                                    }
                                                }
                                            </select>
                                            <span asp-validation-for="SchoolSectionId" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                                @if (User.IsInRole("Director Academics") || User.IsInRole("Deputy Coordinator") || User.IsInRole("Assistant Coordinator"))
                                {
                                    <div class="col-2 text-center">
                                        <div class="form-group">
                                            <label>Grades</label>
                                            <select asp-for="GradeId" class="form-select" onchange="GetSubjects(this.id)" aria-label="Default select example">
                                                <option selected>Select Grade Please</option>
                                                @if (Model.GradeId != null)
                                                {
                                                    @foreach (var sSection in ViewBag.Grades)
                                                    {
                                                        <option value="@sSection.GradeId">@sSection.GradeName</option>
                                                    }
                                                }
                                                @*else if (User.IsInRole("Assistant Coordinator") || (User.IsInRole("Grade Manager")))
                                                {
                                                    @foreach (var sSection in ViewBag.Grades)
                                                    {
                                                        <option value="@sSection.GradeId">@sSection.GradeName</option>
                                                    }
                                                }*@
                                            </select>
                                            <span asp-validation-for="GradeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                                @if (User.IsInRole("Director Academics") || User.IsInRole("Deputy Coordinator") || User.IsInRole("Assistant Coordinator") || User.IsInRole("Grade Manager"))
                                {
                                    <div class="col-2 text-center">
                                        <div class="form-group">
                                            <label>Classes</label>
                                            <select asp-for="SectionId" class="form-select" onchange="GetSubjects(this.id)" aria-label="Default select example">
                                                <option selected>Select Class Please</option>
                                                @if (Model.SectionId != null)
                                                {
                                                    @foreach (var sSection in ViewBag.Sections)
                                                    {
                                                        <option value="@sSection.SectionId">@sSection.SectionName</option>
                                                    }
                                                }
                                            </select>
                                            <span asp-validation-for="GradeId" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                                @if (User.IsInRole("Director Academics") || User.IsInRole("Deputy Coordinator") || User.IsInRole("Assistant Coordinator") || User.IsInRole("Grade Manager") || User.IsInRole("Subject Teacher"))
                                {
                                    <div class="col-2 text-center">
                                        <div class="form-group">
                                            <label>Classes</label>
                                            <select asp-for="SubjectId" class="form-select" onchange="GetBooks(this.id)" aria-label="Default select example">
                                                <option value="@null" selected>Select Subject Please</option>
                                                @if (Model.SubjectId != null)
                                                {
                                                    @foreach (var sSection in ViewBag.Subjects)
                                                    {
                                                        <option value="@sSection.SubjectId">@sSection.SubjectName</option>
                                                    }
                                                }
                                                else if (User.IsInRole("Assistant Coordinator") || (User.IsInRole("Grade Manager")) || (User.IsInRole("Subject Teacher")))
                                                {
                                                    @foreach (var sSection in ViewBag.Subjects)
                                                    {
                                                        <option value="@sSection.SubjectId">@sSection.SubjectName</option>
                                                    }
                                                }
                                            </select>
                                            <span asp-validation-for="SubjectId" class="text-danger"></span>
                                        </div>
                                    </div>
                                }
                                <div class="col-2 text-center">
                                    <div class="form-group">
                                        <label>Books</label>
                                        <select asp-for="BookId" class="form-select" aria-label="Default select example">
                                            @if (Model.BookId != null)
                                            {
                                                @foreach (var sSection in ViewBag.Books)
                                                {
                                                    <option value="@sSection.BookId">@sSection.BookName</option>
                                                }
                                            }
                                        </select>
                                        <span asp-validation-for="BookId" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-1 text-center">
                                    <button class="btn btn-primary mt-4" type="submit">Find Plan</button>
                                </div>
                            </div>
                        </form>
                        @if (Model.Plan.Any())
                        {
                            <div class="row">
                                <div class="col-12" style="overflow-x: scroll;">
                                    <table class="table table-bordered table-hover table-responsive">
                                        <thead class="text-light bg-primary"> 
                                            <tr>
                                                <th colspan="10">
                                                    <h1 class="text-uppercase fw-bold">Seerat Academic Planner</h1>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th colspan="2">
                                                    <div class="row flex-column justify-content-around h-100">
                                                        <div>
                                                            <h4>Grade Name</h4>
                                                        </div>
                                                        <div>
                                                            <label class="badge badge-success fs-6">@Model.GradeName</label>
                                                        </div> 
                                                    </div>
                                                </th>
                                                <th colspan="2">
                                                    <div class="row flex-column justify-content-around h-100">
                                                        <div>
                                                            <h4>Subject Name</h4>
                                                        </div>
                                                        <div>
                                                            <label class="badge badge-success fs-6">@Model.SubjectName</label>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th colspan="3">
                                                    <div class="row flex-column justify-content-around h-100">
                                                        <div>
                                                            <h4>Textbook</h4>
                                                        </div>
                                                        <div>
                                                            <label class="badge badge-success fs-6">@Model.Textbook</label>
                                                        </div>
                                                    </div>
                                                </th>
                                                @if (Model.Workbook == null)
                                                {
                                                    <th colspan="3">
                                                        <div class="row flex-column justify-content-around h-100">
                                                            <div>
                                                                <h4>Workbook</h4>
                                                            </div>
                                                            <div>
                                                                <label class="badge badge-success fs-6">No Workbook Planned!</label>
                                                            </div>
                                                        </div>
                                                    </th>
                                                }
                                                else
                                                {
                                                    <th colspan="3">
                                                        <div class="row flex-column justify-content-around h-100">
                                                            <div>
                                                                <h4>Workbook</h4>
                                                            </div>
                                                            <div>
                                                                <label class="badge badge-success fs-6">@Model.Workbook</label>
                                                            </div>
                                                        </div>
                                                    </th>
                                                }
                                            </tr>
                                            <tr>
                                                <th colspan="2">
                                                    <div class="row flex-column justify-content-around h-100">
                                                        <div>
                                                            <h4>Teacher Name</h4>
                                                        </div>
                                                        <div>
                                                            <label class="badge badge-success fs-6">@Model.TeacherName</label>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th colspan="2">
                                                    <div class="row flex-column justify-content-around h-100">
                                                        <div>
                                                            <h4>Class Name</h4>
                                                        </div>
                                                        <div>
                                                            <label class="badge badge-success fs-6">@Model.ClassName</label>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th colspan="2">
                                                    <div class="row flex-column justify-content-around">
                                                        <div>
                                                            <h4>Duration</h4>
                                                        </div>
                                                        <div>
                                                            <label class="badge badge-success fs-6">Duration Days</label>
                                                        </div>
                                                    </div>
                                                </th>
                                                <th colspan="2">
                                                    <div class="row flex-column justify-content-around">
                                                        <div>
                                                            <h4>Term Name</h4>
                                                        </div>
                                                        <div>
                                                            <label class="badge badge-success fs-6">Term Name</label>
                                                        </div>
                                                    </div>
                                                </th>
                                                @*<th colspan="2">
                                                    <div class="row flex-column justify-content-around">
                                                        <div>
                                                            <a class="fa fa-file mr-3" title="Add Chapters" asp-route-YearId="@Model." asp-controller="Grade" asp-action="Chapter" role="button"></a>
                                                        </div>
                                                    </div>
                                                </th>*@
                                            </tr>
                                            <tr class="bg-primary">
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>Unit</th>
                                                <th>Chapter</th>
                                                <th>Topic</th>
                                                <th>Sub-Topic</th>
                                                <th>Teaching Methodology</th>
                                                <th>SLO</th>
                                                <th>WB Start Page</th>
                                                <th>WB End Page</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var plan in Model.Plan)
                                            {
                                                <tr>
                                                    <td>@plan.StartDate</td>
                                                    <td>@plan.EndDate</td>
                                                    <td>@plan.UnitName</td>
                                                    <td>@plan.ChapterName</td>
                                                    <td>@plan.TopicName</td>
                                                    <td>@plan.SubTopicName</td>
                                                    <td>@plan.TeachingMethodologyName</td>
                                                    <td>@plan.SLO</td>
                                                    <td>@plan.WbStartPage</td>
                                                    <td>@plan.WbEndPage</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="justify-content-around row text-danger">
                                <div class="col-3 text-center">
                                    <h3>Please Select the Book!</h3>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/custom.js"></script>
}