@model myWebApp.ViewModels.AcademicCalendar.ChapterAllocationVM
@section styles{
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">*@
}
<div class="main-panel">
    <div class="content-wrapper">
        @if (Model.UnitId == null || Model.UnitId == 0)
        {
            <form method="get"
              asp-controller="AcademicCalendar" asp-action="ChapterAllocation">
                <div class="row">
                    <input type="hidden" asp-for="YearId" />
                    <input type="hidden" asp-for="TermId" />
                    @*<div class="col-md-3 text-center">
                        <div class="form-group">
                            <label asp-for="SectionId">Classes</label>
                            <select asp-for="SectionId" class="form-select" onchange="GetBooks(this.id)" aria-label="Default select example">
                                <option selected>Select Class Please</option>
                                @foreach (var sSection in ViewBag.TeachingClasses)
                                {
                                    <option value="@sSection.ClassId">@sSection.ClassName</option>
                                }
                            </select>
                            <span asp-validation-for="SectionId" class="text-danger"></span>
                        </div>
                    </div>*@
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <label>Plans</label>
                            <select asp-for="PlanId" class="form-select" onchange="GetUnits(this.id)" aria-label="Default select example">
                                <option selected value="@null">Select Plan Please</option>
                                @foreach (var Plan in ViewBag.Plans)
                                {
                                    <option value="@Plan.PlanId">@Plan.PlanName -- @Plan.ClassName -- @Plan.BookName</option>
                                }
                            </select>
                            <span asp-validation-for="PlanId" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="col-md-3 text-center">
                        <div class="form-group">
                            <label asp-for="BookId">Books</label>
                            <select asp-for="BookId" class="form-select" onchange="GetUnits(this.id)" aria-label="Default select example">
                                <option selected>Select Class First!</option>
                            </select>
                            <span asp-validation-for="BookId" class="text-danger"></span>
                        </div>
                    </div>*@
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <label asp-for="UnitId">Units</label>
                            <select asp-for="UnitId" class="form-select" aria-label="Default select example">
                                <option selected value="@null">Select Book First!</option>
                                @*@if(Model.UnitId != null)
                                {
                                    @foreach (var unit in ViewBag.Units)
                                    {
                                        <option value="@unit.UnitId">@unit.UnitName</option>
                                    }
                                }*@
                            </select>
                            <span asp-validation-for="UnitId" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="col-md-3 text-center">
                        <div class="form-group">
                            <label>Plans</label>
                            <select asp-for="PlanId" class="form-select" aria-label="Default select example">
                                <option selected>Select Plan Please</option>
                                @foreach (var Plan in ViewBag.Plans)
                                {
                                    <option value="@Plan.AcademicPlanningsId">@Plan.PlanName</option>
                                }
                            </select>
                            <span asp-validation-for="PlanId" class="text-danger"></span>
                        </div>
                    </div>*@
                    @*<div class="col-md-3 text-center">
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="AreSaturdaysOff" />
                                    Are Saturdays Off?
                                </label>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-2 text-center">
                        <button class="btn btn-primary mt-4" type="submit">Find Chapters</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <form method="post"
              asp-controller="AcademicCalendar" asp-action="ChapterAllocation">
                @*<h4>Unit Name: @ViewBag.UnitName</h4>*@
                <div class="row">
                    <input type="hidden" asp-for="PlanId" />
                    <input type="hidden" asp-for="AreSaturdaysOff" />
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Chapters of Unit: <label class="badge badge-success">@ViewBag.UnitName</label></h4>
                                @*<p class="card-description">
                            The Chapters allocated to the @ViewBag.Section !
                            </p>*@
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            @if (Model.Chapters.Any())
                                            {
                                                <table class="table table-hover" id="ChaptersTable">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="2">Calendar Name: <label class="badge badge-success">@ViewBag.CalendarName</label></th>
                                                            <th colspan="2">Term Name: <label class="badge badge-success">@ViewBag.TermName</label></th>
                                                            <th colspan="2">Book Name: <label class="badge badge-success">@ViewBag.BookName</label></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Chepter Name</th>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                            <th>WB Start Page</th>
                                                            <th>WB End Page</th>
                                                            <th>Selection</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <input type="hidden" asp-for="YearId" />
                                                        <input type="hidden" asp-for="TermId" />
                                                        <input type="hidden" asp-for="UnitId" />
                                                        @for (var i = 0; i < Model.Chapters.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td>@Model.Chapters[i].ChapterName</td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <input type="date" class="form-control datepicker" asp-for="@Model.Chapters[i].StartDate" placeholder="Enter Start Date" min="@Convert.ToDateTime(Model.MinDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.MaxDate).ToString("yyyy-MM-dd")">
                                                                        <span asp-validation-for="@Model.Chapters[i].StartDate" class="text-danger"></span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <input type="date" class="form-control datepicker" asp-for="@Model.Chapters[i].EndDate" placeholder="Enter End Date" min="@Convert.ToDateTime(Model.MinDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.MaxDate).ToString("yyyy-MM-dd")">
                                                                        <span asp-validation-for="@Model.Chapters[i].EndDate" class="text-danger"></span>
                                                                    </div>
                                                                </td>
                                                                @if (Model.Chapters[i].WBMinPage == null || Model.Chapters[i].WBMaxPage == null)
                                                                {
                                                                    <td>
                                                                        <div class="form-group">
                                                                            <input type="number" disabled min="@Model.Chapters[i].WBMinPage" max="@Model.Chapters[i].WBMaxPage" class="form-control text-center" asp-for="@Model.Chapters[i].WorkBookStartPage" placeholder="Enter Start Page" />
                                                                            <span asp-validation-for="@Model.Chapters[i].WorkBookStartPage" class="text-danger"></span>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-group">
                                                                            <input type="number" disabled min="@Model.Chapters[i].WBMinPage" max="@Model.Chapters[i].WBMaxPage" class="form-control text-center" asp-for="@Model.Chapters[i].WorkBookEndPage" placeholder="Enter Start End" />
                                                                            <span asp-validation-for="@Model.Chapters[i].WorkBookEndPage" class="text-danger"></span>
                                                                        </div>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        <div class="form-group">
                                                                            <input type="number" min="@Model.Chapters[i].WBMinPage" max="@Model.Chapters[i].WBMaxPage" class="form-control text-center" asp-for="@Model.Chapters[i].WorkBookStartPage" placeholder="Enter Start Page" />
                                                                            <span asp-validation-for="@Model.Chapters[i].WorkBookStartPage" class="text-danger"></span>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-group">
                                                                            <input type="number" min="@Model.Chapters[i].WBMinPage" max="@Model.Chapters[i].WBMaxPage" class="form-control text-center" asp-for="@Model.Chapters[i].WorkBookEndPage" placeholder="Enter Start End" />
                                                                            <span asp-validation-for="@Model.Chapters[i].WorkBookEndPage" class="text-danger"></span>
                                                                        </div>
                                                                    </td>
                                                                }
                                                                <td>
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input type="hidden" asp-for="@Model.Chapters[i].UnitId" />
                                                                            <input type="hidden" asp-for="@Model.Chapters[i].ChapterId" />
                                                                            @if ((bool)Model.Chapters[i].preAllocation)
                                                                            {
                                                                                <input type="checkbox" class="form-check-input" checked asp-for="@Model.Chapters[i].IsSelected" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="checkbox" class="form-check-input" asp-for="@Model.Chapters[i].IsSelected" />
                                                                            }
                                                                            Select
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <h3>Please Allocate the Unit(s) first!</h3>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.Chapters.Count != 0)
                    {
                        <div class="col-2 offset-10">
                            <button type="submit" asp-for="ChapterAllocation(@Model.Chapters)" class="btn btn-primary mr-2">Allocate</button>
                        </div>
                    }
                </div>
            </form>
        }
    </div>
</div>
@*@section scripts{
    <script>
        function check(id){
            console.log(id);
            var IdParts = id.split("_");
            var trNow = parseInt(IdParts[1]);
            if(trNow > 0){
                trNow -= 1;
                var startDateString = document.getElementById(id);
                var startDate = new Date(startDateString.value.split("-")[0],startDateString.value.split("-")[1] - 1,startDateString.value.split("-")[2]);
                var endDateId = IdParts[0] +"_"+ trNow.toString() +"__"+ "EndDate";
                var endDateString = document.getElementById(endDateId);
                var endDate = new Date(endDateString.value.split("-")[0],endDateString.value.split("-")[1] - 1,endDateString.value.split("-")[2]);
                if(startDate <= endDate){
                    alert("The Topic should start after the end of the previos chapter " + endDateString.value);
                    startDateString.value = endDateString.value;
                }
            }
            }
    </script>
}*@
@section scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#ChaptersTable').DataTable({
                serverSide: true,
                ajax: function () {

                },
            });
        });
        //$(function () {
        //    $(".datepicker").each(function () {
        //        var minDate = new Date($(this).attr("min"));
        //        var maxDate = new Date($(this).attr("max"));
        //        var areSaturdaysOff = @Html.Raw(Json.Serialize(Model.AreSaturdaysOff)); // assuming you're using Razor syntax to pass the value from the server to the view
        //        var daysOff = [0]; // Sunday is always off
        //        if (areSaturdaysOff) {
        //            daysOff.push(6); // add Saturday to the list of days off
        //        }
        //        $(this).datepicker({
        //            startDate: minDate,
        //            endDate: maxDate,
        //            daysOfWeekDisabled: daysOff,
        //            autoclose: true,
        //            format: 'dd-mm-yyyy',
        //            container: $input.parent()
        //        });
        //    });
        //});
    </script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/custom.js"></script>
}