@model myWebApp.ViewModels.AcademicCalendar.HolidaysVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Add Holidays of @ViewBag.TermName</h4>
                        @*<p class="card-description">
                        Please Add The Holida @ViewBag.TermName and Press the Add Button.
                        </p>*@
                        <form class="forms-sample" method="post"
                              asp-controller="AcademicCalendar" asp-action="Holidays">
                            @if (User.HasClaim("Permission", "Term.Create"))
                            {
                                <div class="row">
                                    <input type="hidden" asp-for="TermId" />
                                    <input type="hidden" asp-for="YearId" />
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label asp-for="HolidayName">Event Name</label>
                                            <input type="text" class="form-control" asp-for="HolidayName" placeholder="Enter Event Name" />
                                            <span asp-validation-for="HolidayName" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label asp-for="StartDate">From</label>
                                            <input type="date" class="form-control" asp-for="StartDate" placeholder="Enter Start Date" min="@Convert.ToDateTime(Model.MinDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.MaxDate).ToString("yyyy-MM-dd")">
                                            <span asp-validation-for="StartDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-3">
                                        <div class="form-group">
                                            <label asp-for="EndDate">To</label>
                                            <input type="date" class="form-control" asp-for="EndDate" placeholder="Enter End Date" min="@Convert.ToDateTime(Model.MinDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.MaxDate).ToString("yyyy-MM-dd")">
                                            <span asp-validation-for="EndDate" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="col-3 mt-5">
                                        <div class="form-check">
                                            <label class="form-check-label">
                                                <input type="checkbox" class="form-check-input" asp-for="IsSchoolOff" />
                                                Is School Off?
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="float-right">
                                    <button type="submit" class="btn btn-primary mr-2" onclick="SubmitButton()">Add</button>
                                </div>
                            }
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">All-Holidays of @ViewBag.TermName</h4>
                                        <p class="card-description">
                                        </p>
                                        <div class="table-responsive">
                                            <table class="table table-hover table-bordered">
                                                <thead class="bg-primary text-white">
                                                    <tr>
                                                        @if (User.HasClaim("Permission", "Holiday.Delete"))
                                                        {
                                                            <th>Actions</th>
                                                        }
                                                        <th>Status</th>
                                                        <th>Event Name</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Total Days</th>
                                                        <th>School Off</th>
                                                    </tr>
                                                </thead>
                                                <tbody class="term-data">
                                                    @foreach (var holiday in Model.Holidays)
                                                    {
                                                        <tr>
                                                            @if (User.HasClaim("Permission", "Holiday.Delete"))
                                                            {
                                                                <td class="actions">
                                                                    <a class="fa fa-trash text-danger" title="Delete Event" onclick="return confirm('Are you sure you want to delete this Event?');" asp-route-id="@holiday.HolidayId" asp-route-YearId="@Model.YearId" asp-controller="AcademicCalendar" asp-action="DeleteHoliday" role="button"></a>
                                                                </td>
                                                            }
                                                            <td>
                                                                @if ((bool)holiday.IsActive)
                                                                {
                                                                    <label class="badge badge-success">Active</label>
                                                                }
                                                                else
                                                                {
                                                                    <label class="badge badge-danger">InActive</label>
                                                                }
                                                            </td>
                                                            <td>@holiday.HolidayName</td>
                                                            <td>@Convert.ToDateTime(holiday.StartDate).ToString("dd-MMM-yyyy")</td>
                                                            <td>@Convert.ToDateTime(holiday.EndDate).ToString("dd-MMM-yyyy")</td>
                                                            <td>@holiday.NoOfHolidays</td>
                                                            <td>
                                                                @if ((bool)holiday.IsSchoolOff)
                                                                {
                                                                    <label class="badge badge-success">Yes</label>
                                                                }
                                                                else
                                                                {
                                                                    <label class="badge badge-danger">No</label>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>