@*@model myWebApp.ViewModels.AcademicCalendar.MonthVM
@section styles{
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" integrity="sha512-mSYUmp1HYZDFaVKK//63EcZq4iFWFjxSL+Z3T/aCt4IO9Cejm03q3NKKYN6pFQzY0SBOr8h+eCIAZHPXcpZaNw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
       <div class="main-panel">        
        <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Add New Adacmic-Calendar Month for @ViewBag.TermName</h4>
                  <p class="card-description">
                    Please Add The New Adacmic-Calendar Month for @ViewBag.TermName and Press the Add Button.
                  </p>
                  <form class="forms-sample" method="post"
                  asp-controller="AcademicCalendar" asp-action="Month" id="month-form">
                  <div class="row">
                      <input type="hidden" asp-for="TermId"/>
                      <div class="col-4">
                         <div class="form-group">
                      <label asp-for="StartDate">start Date</label>
                      <input type="date" class="form-control" asp-for="StartDate" placeholder="Enter Start Date" min="@Convert.ToDateTime(Model.MinDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.MaxDate).ToString("yyyy-MM-dd")">
                      <span asp-validation-for="EventDate" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                      <label asp-for="EndDate">End Date</label>
                      <input type="date" class="form-control" asp-for="EndDate" placeholder="Enter End Date" min="@Convert.ToDateTime(Model.MinDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.MaxDate).ToString("yyyy-MM-dd")">
                      <span asp-validation-for="EventDate" class="text-danger"></span>
                    </div>
                        @*<div class="input-group date bs-datepicker" data-date-format="mm-dd-yyyy">
            <input type='text' class="form-control" asp-for="EndDate"/>
            <span class="input-group-addon">
            <i class="glyphicon glyphicon-calendar"></i>
            </span>
            <span asp-validation-for="EndDate" class="text-danger"></span>      
         </div>*@
                         @* <div class="form-group">
                      <label asp-for="EndDate">End Date</label>
                      <input type="text" class="form-control bs-datepicker" asp-for="EndDate" placeholder="Enter End Date" >
                      <span asp-validation-for="EndDate" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="col-4">
                            <div class="form-group">
                      <label asp-for="Event">Event Description</label>
                      <input type="text" class="form-control" asp-for="Event" placeholder="Enter Event Description" min="@Convert.ToDateTime(Model.MinDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.MaxDate).ToString("yyyy-MM-dd")">
                      <span asp-validation-for="Event" class="text-danger"></span>
                    </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <div class="form-group">
                      <label asp-for="EventDate">Event Date</label>
                      <input type="date" class="form-control" asp-for="EventDate" placeholder="Enter Event Date">
                      <span asp-validation-for="EventDate" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                      <label asp-for="Holidays">Holidays</label>
                      <input type="text" class="form-control" asp-for="Holidays" placeholder="Enter Holidays">
                      <span asp-validation-for="Holidays" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                      <label asp-for="AssessmentDays">Assessment Days</label>
                      <input type="text" class="form-control" asp-for="AssessmentDays" placeholder="Enter Assessment Days">
                      <span asp-validation-for="AssessmentDays" class="text-danger"></span>
                    </div>
                    </div>
                    </div>
                        <div class="float-right">
                        <button type="submit" class="btn btn-primary mr-2" onclick="SubmitButton()">Add</button>
                    </div>

                    <div class="col-12 grid-margin stretch-card">
                      <div class="card">
                        <div class="card-body">
                          <h4 class="card-title">All-Months</h4>
                          <p class="card-description">
                            The Created Months for @ViewBag.TermName!
                          </p>
                          <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                    <th>Actions</th>
                                    <th>Term</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Total Days</th>
                                    <th>Total Sat &amp; Sun</th>
                                    <th>Events</th>
                                    <th>Event Date</th>
                                    <th>Holidays</th>
                                    <th>Assesment Days</th>
                                    <th>Total School Days</th>
                                    </tr>
                                </thead>
                                <tbody class="term-data">
                                @foreach (var Month in ViewBag.Months)
                                {
                                    <tr>
                                        <td class="actions">
                                            <a class="fa fa-edit mr-3" title="Edit Month" asp-route-Id="@Month.MonthId"  asp-controller="AcademicCalendar" asp-action="UpdateMonth" role="button"></a>
                                            <a class="fa fa-trash text-danger mr-3" title="Delete Month" onclick="return confirm('Are you sure you want to delete this School?');" asp-route-id="@Month.MonthId" asp-route-TermId="@Model.TermId" asp-controller="AcademicCalendar" asp-action="DeleteMonth" role="button"></a>
                                        </td>
                                        <td>@Month.TermName</td>
                                        <td>@Convert.ToDateTime(Month.StartDate).ToString("dd-MMM-yyyy")</td>
                                        <td>@Convert.ToDateTime(Month.EndDate).ToString("dd-MMM-yyyy")</td>
                                        <td>@Month.TotalDays</td>
                                        <td>@Month.TotalSatSundays</td>
                                        <td>@Month.Event</td>
                                        <td class="event-date">@Convert.ToDateTime(Month.EventDate).ToString("dd-MMM-yyyy")</td>
                                        <td>@Month.Holidays</td>
                                        <td>@Month.AssessmentDays</td>
                                        <td>@Month.TotalSchoolDays</td>
                                    </tr> 
                                }
                                </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
           </div>
          </div>
         </div>
@section scripts{
    @*<script src="~/js/dashboard.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script>
                var dates;
                $(document).ready(function() {
                 //console.log("I'm Ready");
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("MonthFreeDates","AcademicCalendar",new {TermId = @Model.TermId})",
                            success: function(data){
                                data = JSON.parse(data);
                                dates = new Array(data.length);
                                for(var i = 0; i < data.length; i++){
                                    var formatedDate = data[i].split("T")[0].split("-");
                                        formatedDate[1]= formatedDate[1].replace('0','');
                                    if(formatedDate[1][0] == "0"){
                                    }
                                    dates[i] = formatedDate[2]+ "/" + formatedDate[1] + "/" + formatedDate[0];
                                    console.log(dates[i]);
                                }
                            },
                            error: function(err){
                                console.log(err);
                            }
                        });
                        $('.bs-datepicker').datepicker({
                            autoclose: true,
                            startDate: "@Convert.ToDateTime(Model.MinDate).ToString("MM/dd/yyyy")",
                            endDate: "@Convert.ToDateTime(Model.MaxDate).ToString("MM/dd/yyyy")",
                            datesDisabled: "03/03/2023"
                        });
                    });

        </script>
    <script>
        var eventDate = document.getElementsByClassName("event-date");
        for(var prop in eventDate){
            var DateArray = eventDate[prop].innerHTML.split("-");
            if(DateArray[2] == "0001"){
                //console.log(DateArray[2]);
                    var holidays = document.getElementById("Holidays");
                    console.log(holidays.innerHTML);
                eventDate[prop].innerHTML = "";
            }
        };
    </script>
}
@section scripts{
    <script src="~/js/dashboard.js"></script>
                    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
                            <script>
    //                                   $(function() {
    //    $("#example").dataTable();
    //});
                //$(document).ready(function(){
                //       $('#term-btn').on('click', function () {

                          // alert("fdfdf");

                           //var term = {};
                           //    term.url = 
                           //term.type = "POST";
                           //term.dataType = "json";
                           //term.data = JSON.stringify({YearId: $('#YearId').val(), 
                           //    TermName: `$('#TermName').val()`,
                           //    TermStartDate: `$('#TermStartDate').val()`,
                           //    TermEndDate: `$('#TermEndDate').val()`});
                           //term.contentType = "application/json";
                           //term.success = function(){
                           
                           //    console.log("Saved Successfully")
                           //};
                           //term.error = function(){
                           //    console.log("Error Occured While Saving")
                           //};
                           //$.ajax(term);
                    //var termSDate = new Date(`${$('#YearStartDate').val()}`);
                    //var termEDate = new Date(`${$('#YearEndDate').val()}`);
                    //console.log(termSDate);
                    //var termEDate = new Date(`${$('#YearEndDate').val()}`);
                    //console.log(termEDate);
                    //var noOfMonths = $("#NoOfMonths").val();
                    //termSDate.setMonth(termSDate.getMonth() + (noOfMonths - 1));
                    //    console.log("I am x",termSDate);
                    //        var termEDate = new Date(termSDate);
                    //        endDate = new Date(termEDate.getFullYear(),termEDate.getMonth(),termEDate.getDate());
                    //        console.log("I am New termEDate",endDate);
                    //        $("#YearEndDate").val(endDate);
                    //months = (termEDate.getFullYear() - termSDate.getFullYear()) * 12;
                    //months -= termSDate.getMonth();
                    //months += termEDate.getMonth();
                    //months +=1;
                    //console.log(months);
                    // var months = (termEDate - termSDate);

                    //if((termEDate - 3) > 0 ){
                    //    alert("Term Can't be less than 3 months");
                    //    console.log("Term Can't be less than 3 months");
                    //}
                    //else{
                    //         Adding a row inside the tbody.
                    //$('.term-data').append(`<tr>{}
                    //          <td>${$('#YearId').find(":selected").text()}</td>
                    //      <td>${$('#TermName').val()}</td>
                    //      <td>${$('#TermStartDate').val()}</td>
                    //      <td>${$('#TermEndDate').val()}</td>
                    //       </tr>`);
                    //}
        //                });
        //});
            </script>
    }*@