@model myWebApp.ViewModels.AcademicCalendar.SubTopicAllocationVM
@section styles{
    @*<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">*@
}
<div class="main-panel">
    <div class="content-wrapper">
        @if (Model.TopicId == null || Model.TopicId == 0)
        {
            <form method="get"
              asp-controller="AcademicCalendar" asp-action="SubTopicAllocation">
                <div class="row">
                    <input type="hidden" asp-for="YearId" />
                    <input type="hidden" asp-for="TermId" />
                    @*<div class="col-md-3 text-center">
                        <div class="form-group">
                            <label asp-for="SectionId">Classes</label>
                            <select asp-for="SectionId" class="form-select" onchange="GetBooks(this.id)" aria-label="Default select example">
                                <option selected>Select Class Please</option>
                                @foreach (var sSection in ViewBag.TeachingClasses)
                                {
                                    <option value="@sSection.ClassId">@sSection.ClassName</option>
                                }
                            </select>
                            <span asp-validation-for="SectionId" class="text-danger"></span>
                        </div>
                    </div>*@
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <label>Plans</label>
                            <select asp-for="PlanId" class="form-select" onchange="GetUnits(this.id)" aria-label="Default select example">
                                <option selected value="@null">Select Plan Please</option>
                                @foreach (var Plan in ViewBag.Plans)
                                {
                                    <option value="@Plan.PlanId">@Plan.PlanName -- @Plan.ClassName -- @Plan.BookName</option>
                                }
                            </select>
                            <span asp-validation-for="PlanId" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="col-md-3 text-center">
                        <div class="form-group">
                            <label asp-for="BookId">Books</label>
                            <select asp-for="BookId" class="form-select" onchange="GetUnits(this.id)" aria-label="Default select example">
                                <option selected>Select Class First!</option>
                            </select>
                            <span asp-validation-for="BookId" class="text-danger"></span>
                        </div>
                    </div>*@
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <label asp-for="UnitId">Units</label>
                            <select asp-for="UnitId" class="form-select" onchange="GetChapters(this.id, document.getElementById('PlanId').value)" aria-label="Default select example">
                                <option selected value="@null">Select Book First!</option>
                            </select>
                            <span asp-validation-for="UnitId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <label asp-for="ChapterId">Chapter</label>
                            <select asp-for="ChapterId" class="form-select" onchange="GetTopics(this.id, document.getElementById('PlanId').value, document.getElementById('UnitId').value)" aria-label="Default select example">
                                <option selected value="@null">Select Unit First!</option>
                            </select>
                            <span asp-validation-for="ChapterId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <label asp-for="TopicId">Topic</label>
                            <select asp-for="TopicId" class="form-select" aria-label="Default select example">
                                <option selected value="@null">Select Chapter First!</option>
                            </select>
                            <span asp-validation-for="TopicId" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="col-md-3 text-center">
                        <div class="form-group">
                            <label>Plans</label>
                            <select asp-for="PlanId" class="form-select" aria-label="Default select example">
                                <option selected>Select Plan Please</option>
                                @foreach (var Plan in ViewBag.Plans)
                                {
                                    <option value="@Plan.AcademicPlanningsId">@Plan.PlanName</option>
                                }
                            </select>
                            <span asp-validation-for="PlanId" class="text-danger"></span>
                        </div>
                    </div>*@
                    @*<div class="col-md-3 text-center">
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" asp-for="AreSaturdaysOff" />
                                    Are Saturdays Off?
                                </label>
                            </div>
                        </div>
                    </div>*@
                    <div class="col-2 text-center">
                        <button class="btn btn-primary mt-4" type="submit">Find Sub-Topics</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            <form method="post"
              asp-controller="AcademicCalendar" asp-action="SubTopicAllocation">
                <div class="row">
                    <input type="hidden" asp-for="PlanId" />
                    <input type="hidden" asp-for="AreSaturdaysOff" />
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Sub-Topics of Topic: <label class="badge badge-success">@ViewBag.TopicName</label></h4>
                                @*<p class="card-description">
                            The Sub-Topics allocated to the @ViewBag.Month !
                            </p>*@
                                <div class="row">
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            @if (Model.SubTopics.Any())
                                            {
                                                <table class="table table-hover" id="SubTopicsTable">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="1">Calendar: <label class="badge badge-success">@ViewBag.CalendarName</label></th>
                                                            <th colspan="1">Term: <label class="badge badge-success">@ViewBag.TermName</label></th>
                                                            <th colspan="2">Book: <label class="badge badge-success">@ViewBag.BookName</label></th>
                                                            <th colspan="1">Unit: <label class="badge badge-success">@ViewBag.UnitName</label></th>
                                                            <th colspan="1">Chapter: <label class="badge badge-success">@ViewBag.ChapterName</label></th>
                                                        </tr>
                                                        <tr>
                                                            <th>Sub-Topic Name</th>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                            <th>WB Start Page</th>
                                                            <th>WB End Page</th>
                                                            <th>Selection</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <input type="hidden" asp-for="YearId" />
                                                        <input type="hidden" asp-for="TermId" />
                                                        <input type="hidden" asp-for="TopicId" />
                                                        @for (var i = 0; i < Model.SubTopics.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td>@Model.SubTopics[i].SubTopicName</td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <input type="date" class="form-control datepicker" asp-for="@Model.SubTopics[i].StartDate" placeholder="Enter Start Date" min="@Convert.ToDateTime(Model.SubTopics[i].TopicStartDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.SubTopics[i].TopicEndDate).ToString("yyyy-MM-dd")">
                                                                        <span asp-validation-for="@Model.SubTopics[i].StartDate" class="text-danger"></span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <input type="date" class="form-control datepicker" asp-for="@Model.SubTopics[i].EndDate" placeholder="Enter End Date" min="@Convert.ToDateTime(Model.SubTopics[i].TopicStartDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.SubTopics[i].TopicEndDate).ToString("yyyy-MM-dd")">
                                                                        <span asp-validation-for="@Model.SubTopics[i].EndDate" class="text-danger"></span>
                                                                    </div>
                                                                </td>
                                                                @if (Model.SubTopics[i].WBMinPage == null || Model.SubTopics[i].WBMaxPage == null)
                                                                {
                                                                    <td>
                                                                        <div class="form-group">
                                                                            <input type="number" disabled min="@Model.SubTopics[i].WBMinPage" max="@Model.SubTopics[i].WBMaxPage" class="form-control text-center" asp-for="@Model.SubTopics[i].WorkBookStartPage" placeholder="Enter Start Page" />
                                                                            <span asp-validation-for="@Model.SubTopics[i].WorkBookStartPage" class="text-danger"></span>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-group">
                                                                            <input type="number" disabled min="@Model.SubTopics[i].WBMinPage" max="@Model.SubTopics[i].WBMaxPage" class="form-control text-center" asp-for="@Model.SubTopics[i].WorkBookEndPage" placeholder="Enter Start End" />
                                                                            <span asp-validation-for="@Model.SubTopics[i].WorkBookEndPage" class="text-danger"></span>
                                                                        </div>
                                                                    </td>
                                                                }
                                                                else
                                                                {
                                                                    <td>
                                                                        <div class="form-group">
                                                                            <input type="number" min="@Model.SubTopics[i].WBMinPage" max="@Model.SubTopics[i].WBMaxPage" class="form-control text-center" asp-for="@Model.SubTopics[i].WorkBookStartPage" placeholder="Enter Start Page" />
                                                                            <span asp-validation-for="@Model.SubTopics[i].WorkBookStartPage" class="text-danger"></span>
                                                                        </div>
                                                                    </td>
                                                                    <td>
                                                                        <div class="form-group">
                                                                            <input type="number" min="@Model.SubTopics[i].WBMinPage" max="@Model.SubTopics[i].WBMaxPage" class="form-control text-center" asp-for="@Model.SubTopics[i].WorkBookEndPage" placeholder="Enter Start End" />
                                                                            <span asp-validation-for="@Model.SubTopics[i].WorkBookEndPage" class="text-danger"></span>
                                                                        </div>
                                                                    </td>
                                                                }
                                                                <td>
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input type="hidden" asp-for="@Model.SubTopics[i].SubTopicId" />
                                                                            @if ((bool)Model.SubTopics[i].preAllocation)
                                                                            {
                                                                                <input type="checkbox" class="form-check-input" checked asp-for="@Model.SubTopics[i].IsSelected" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="checkbox" class="form-check-input" asp-for="@Model.SubTopics[i].IsSelected" />
                                                                            }
                                                                            Select
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <h3>Please Allocate Chapter(s) to The month First!</h3>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.SubTopics.Count != 0)
                    {
                        <div class="col-2 offset-10">
                            <button type="submit" asp-for="SubTopicAllocation(@Model.SubTopics)" class="btn btn-primary mr-2">Allocate</button>
                        </div>
                    }
                </div>
            </form>
        }
    </div>
</div>
@section scripts{
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>*@
    <script>
        $(document).ready(function () {
            $('#SubTopicsTable').DataTable({
                serverSide: true,
                ajax: function () {

                },
            });
        });
        //$(function () {
        //    $(".datepicker").each(function () {
        //        var minDate = new Date($(this).attr("min"));
        //        var maxDate = new Date($(this).attr("max"));
        //        var areSaturdaysOff = @Html.Raw(Json.Serialize(Model.AreSaturdaysOff)); // assuming you're using Razor syntax to pass the value from the server to the view
        //        var daysOff = [0]; // Sunday is always off
        //        if (areSaturdaysOff) {
        //            daysOff.push(6); // add Saturday to the list of days off
        //        }
        //        $(this).datepicker({
        //            startDate: minDate,
        //            endDate: maxDate,
        //            daysOfWeekDisabled: daysOff,
        //            autoclose: true,
        //            format: 'dd-mm-yyyy'
        //        });
        //    });
        //});
    </script>
    <script src="~/lib/jquery-validate/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/custom.js"></script>
}