@model myWebApp.ViewModels.AcademicCalendar.SubTopicAllocationVM
<div class="main-panel">
   <div class="content-wrapper">
       <form method="post"
       asp-controller="AcademicCalendar" asp-action="SubTopicAllocation">
          <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Sub-Topics for the Academic Term @ViewBag.Month</h4>
                  @*<p class="card-description">
                    The Sub-Topics allocated to the @ViewBag.Month !
                  </p>*@
                  <div class="table-responsive">
                    @if (Model.SubTopics.Any())
                    {
                        <table class="table table-hover" id="SubTopicsTable">
                            <thead>
                            <tr>
                                <th>Sub-Topic Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>WB Start Page</th>
                                <th>WB End Page</th>
                                <th>Selection</th>
                            </tr>
                            </thead>
                            <tbody>
                            <input type="hidden" asp-for="YearId"/>
                            <input type="hidden" asp-for="TermId"/>
                            @for (var i = 0; i < Model.SubTopics.Count(); i++)
                            {
                            <tr>
                                <td>@Model.SubTopics[i].SubTopicName</td>
                                <td>
                                    <div class="form-group">
                                        <input type="date" class="form-control text-center" oninput="check(this.id)" asp-for="@Model.SubTopics[i].StartDate" placeholder="Enter Start Date" min="@Convert.ToDateTime(Model.SubTopics[i].TopicStartDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.SubTopics[i].TopicEndDate).ToString("yyyy-MM-dd")">
                                        <span asp-validation-for="@Model.SubTopics[i].StartDate" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <input type="date" class="form-control text-center" asp-for="@Model.SubTopics[i].EndDate" placeholder="Enter End Date" min="@Convert.ToDateTime(Model.SubTopics[i].TopicStartDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.SubTopics[i].TopicEndDate).ToString("yyyy-MM-dd")">
                                        <span asp-validation-for="@Model.SubTopics[i].EndDate" class="text-danger"></span>
                                    </div>
                                </td>
                                <td>
                                       <div class="form-group">
                                            <input type="number" min="@Model.SubTopics[i].WBMinPage" max="@Model.SubTopics[i].WBMaxPage" class="form-control text-center" asp-for="@Model.SubTopics[i].WorkBookStartPage" placeholder="Enter Start Page" />
                                            <span asp-validation-for="@Model.SubTopics[i].WorkBookStartPage" class="text-danger"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="form-group">
                                            <input type="number" min="@Model.SubTopics[i].WBMinPage" max="@Model.SubTopics[i].WBMaxPage" class="form-control text-center" asp-for="@Model.SubTopics[i].WorkBookEndPage" placeholder="Enter Start End" />
                                            <span asp-validation-for="@Model.SubTopics[i].WorkBookEndPage" class="text-danger"></span>
                                        </div>
                                    </td>
                                <td>
                                    <div>
                                        <label class="form-check-label">
                                        <input type="hidden" asp-for="@Model.SubTopics[i].SubTopicId"/>
                                        @if ((bool)Model.SubTopics[i].preAllocation)
                                        {
                                            <input type="checkbox" class="form-check-input" checked asp-for="@Model.SubTopics[i].IsSelected" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" class="form-check-input" asp-for="@Model.SubTopics[i].IsSelected" />
                                        }
                                    Select </label>
                                    </div>
                                </td>
                            </tr> 
                            }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <h3>Please Allocate Chapter(s) to The month First!</h3>
                    }
                  </div>
                </div>
              </div>
            </div>
            @if(Model.SubTopics.Count != 0){
            <div class="col-2 offset-10">
                <button type="submit" asp-for="SubTopicAllocation(@Model.SubTopics)" class="btn btn-primary mr-2">Allocate</button>
            </div>
                }
          </div>
       </form>
   </div>
</div>

@*@section scripts{
            <script>
                function check(id){
                    console.log(id);
                    var IdParts = id.split("_");
                    var trNow = parseInt(IdParts[1]);
                    if(trNow > 0){
                        trNow -= 1;
                        var startDateString = document.getElementById(id);
                        var startDate = new Date(startDateString.value.split("-")[0],startDateString.value.split("-")[1] - 1,startDateString.value.split("-")[2]);
                        var endDateId = IdParts[0] +"_"+ trNow.toString() +"__"+ "EndDate";
                        var endDateString = document.getElementById(endDateId);
                        var endDate = new Date(endDateString.value.split("-")[0],endDateString.value.split("-")[1] - 1,endDateString.value.split("-")[2]);
                        if(startDate <= endDate){
                            alert("The Topic should start after the end of the previos sub-topic " + endDateString.value);
                            startDateString.value = endDateString.value;
                        }
                    }
                    }
            </script>
}*@
@section scripts{
        <script>
        $(document).ready(function () {
            $('#SubTopicsTable').DataTable({
                    serverSide: true,
                    ajax: function(){

                    },
                });
        });
        </script>
}