@model myWebApp.ViewModels.AcademicCalendar.UnitAllocationVM
@section styles{
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/smoothness/jquery-ui.css">
}
<div class="main-panel">
    <div class="content-wrapper">
        @if (Model.BookId == null)
        {
            <form method="get"
              asp-controller="AcademicCalendar" asp-action="UnitAllocation">
                <div class="row">
                    <input type="hidden" asp-for="YearId" />
                    <input type="hidden" asp-for="TermId" />
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <label asp-for="SectionId">Classes</label>
                            <select asp-for="SectionId" class="form-select" onchange="GetBooks(this.id)" aria-label="Default select example">
                                <option selected>Select Class Please</option>
                                @foreach (var sSection in ViewBag.TeachingClasses)
                                {
                                    <option value="@sSection.ClassId">@sSection.ClassName</option>
                                }
                            </select>
                            <span asp-validation-for="SectionId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <label asp-for="BookId">Books</label>
                            <select asp-for="BookId" class="form-select" aria-label="Default select example">
                                <option selected>Select Class First!</option>
                            </select>
                            <span asp-validation-for="BookId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <label>Plans</label>
                            <select asp-for="PlanId" class="form-select" aria-label="Default select example">
                                <option selected>Select Plan Please</option>
                                @foreach (var Plan in ViewBag.Plans)
                                {
                                    <option value="@Plan.AcademicPlanningsId">@Plan.PlanName</option>
                                }
                            </select>
                            <span asp-validation-for="PlanId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-3 text-center">
                        <div class="form-group">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="hidden" asp-for="AreSaturdaysOff" />
                                    <input type="checkbox" class="form-check-input" asp-for="AreSaturdaysOff" />
                                    Are Saturdays Off?
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-2 text-center">
                        <button class="btn btn-primary btn-sm mt-4" type="submit" onclick="return confirm('You are gonna lose the planning of the current plan if you copy. Are you sure you want to copy?');">Find Units</button>
                    </div>
                </div>
            </form>
        }
        else
        {
            @if (Model.IsPlanCopiable)
            {
                <form method="post"
              asp-controller="AcademicCalendar" asp-action="CopyAcademicPlanning">
                    <div class="row">
                        <input type="hidden" asp-for="TermId" />
                        <input type="hidden" asp-for="PlanId" />
                        <input type="hidden" asp-for="AreSaturdaysOff" />
                        <div class="col-md-3 text-center">
                            <div class="form-group">
                                <label asp-for="CopiedPlanId">Coypiable Plans</label>
                                <select asp-for="CopiedPlanId" class="form-select" aria-label="Default select example">
                                    <option selected>Select Plan Please</option>
                                    @foreach (var Plan in Model.CopyablePlans)
                                    {
                                        <option value="@Plan.AcademicPlanningsId">@Plan.PlanName</option>
                                    }
                                </select>
                                <span asp-validation-for="CopiedPlanId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-2 text-center">
                            <button class="btn btn-primary btn-sm mt-4" type="submit">Copy</button>
                        </div>
                    </div>
                </form>
            }
            <form method="post"
              asp-controller="AcademicCalendar" asp-action="UnitAllocation">
                <input type="hidden" asp-for="PlanId" />
                <input type="hidden" asp-for="AreSaturdaysOff"/>
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Units of Book: <label class="badge badge-success">@ViewBag.BookName</label></h4>
                                @*<p class="card-description">
                            The Units allocated to the @ViewBag.Month !
                            </p>*@
                                <div class="row">
                                    <div class="col-12">
                                    </div>
                                    <div class="col-12">
                                        <div class="table-responsive">
                                            @if (Model.Units.Any())
                                            {
                                                <table class="table table-hover" id="UnitsTable">
                                                    <thead>
                                                        <tr>
                                                            <th colspan="4">Calendar Name: <label class="badge badge-success">@ViewBag.CalendarName</label></th>
                                                            <th colspan="3">Term Name: <label class="badge badge-success">@ViewBag.TermName</label></th>
                                                        </tr>
                                                        <tr>

                                                            <th>Unit Name</th>
                                                            <th>Start Date</th>
                                                            <th>End Date</th>
                                                            <th>Workbook</th>
                                                            <th>WB Star Page</th>
                                                            <th>WB End Page</th>
                                                            <th>Selection</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @for (var i = 0; i < Model.Units.Count(); i++)
                                                        {
                                                            <tr>
                                                                <td>@Model.Units[i].UnitName</td>
                                                                <td>
                                                                    <input type="hidden" name="YearId" asp-for="YearId" />
                                                                    <input type="hidden" name="TermId" asp-for="TermId" />
                                                                    <input type="hidden" name="BookId" asp-for="BookId" />
                                                                    <input type="hidden" name="SectionId" asp-for="SectionId" />
                                                                    <div class="form-group">
                                                                        <input type="text" class="datepicker" oninput="check(this.id)" asp-for="@Model.Units[i].StartDate" placeholder="Enter Start Date" min="@Convert.ToDateTime(Model.MinDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.MaxDate).ToString("yyyy-MM-dd")">
                                                                        <span asp-validation-for="@Model.Units[i].StartDate" class="text-danger"></span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <input type="text" class="datepicker" asp-for="@Model.Units[i].EndDate" placeholder="Enter End Date" min="@Convert.ToDateTime(Model.MinDate).ToString("yyyy-MM-dd")" max="@Convert.ToDateTime(Model.MaxDate).ToString("yyyy-MM-dd")">
                                                                        <span asp-validation-for="@Model.Units[i].EndDate" class="text-danger"></span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <select asp-for="@Model.Units[i].WorkBookId" class="form-select" onchange="EnterWBPages(this.id)" aria-label="Default select example">
                                                                            <option value="@null" selected>Select WorkBook Please</option>
                                                                            @foreach (var grade in ViewBag.WorkBooks)
                                                                            {
                                                                                <option value="@grade.BookId">@grade.BookName</option>
                                                                            }
                                                                        </select>
                                                                        <span asp-validation-for="@Model.Units[i].WorkBookId" class="text-danger"></span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <input type="number" disabled class="form-control text-center" asp-for="@Model.Units[i].WorkBookStartPage" placeholder="Enter Start Page" />
                                                                        <span asp-validation-for="@Model.Units[i].WorkBookStartPage" class="text-danger"></span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-group">
                                                                        <input type="number" disabled class="form-control text-center" asp-for="@Model.Units[i].WorkBookEndPage" placeholder="Enter Start End" />
                                                                        <span asp-validation-for="@Model.Units[i].WorkBookEndPage" class="text-danger"></span>
                                                                    </div>
                                                                </td>
                                                                <td>
                                                                    <div class="form-check">
                                                                        <label class="form-check-label">
                                                                            <input type="hidden" asp-for="@Model.Units[i].UnitId" />
                                                                            @if ((bool)Model.Units[i].preAllocation)
                                                                            {
                                                                                <input type="checkbox" class="form-check-input" checked asp-for="@Model.Units[i].IsSelected" />
                                                                            }
                                                                            else
                                                                            {
                                                                                <input type="checkbox" class="form-check-input" asp-for="@Model.Units[i].IsSelected" />
                                                                            }
                                                                            Select
                                                                        </label>
                                                                    </div>
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            }
                                            else
                                            {
                                                <h3>No Data Found!</h3>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @if (Model.Units.Count != 0)
                    {
                        <div class="col-2 offset-10">
                            <button type="submit" asp-for="UnitAllocation(@Model.Units)" class="btn btn-primary mr-2">Allocate</button>
                        </div>
                    }
                </div>
            </form>
        }
    </div>
</div>

@section scripts{
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#UnitsTable').DataTable({
                //serverSide: true,
                ////processing: true
                //ajax: function(){

                //},
            });

        });
        var areSaturdaysOff = @Html.Raw(Json.Serialize(Model.AreSaturdaysOff));
        $(function (areSaturdaysOff) {
            if (areSaturdaysOff == true) {
                $(".datepicker").each(function () {
                    var minDate = new Date($(this).attr("min"));
                    var maxDate = new Date($(this).attr("max"));
                    $(this).datepicker({
                        defaultDate: new Date(),
                        dateFormat: "dd-mm-yy",
                        beforeShowDay: function (date) {
                            return [date >= minDate && date <= maxDate && date.getDay() !== 0 && date.getDay() !== 6];
                        }
                    });
                });
            }
            else {
                $(".datepicker").each(function () {
                    var minDate = new Date($(this).attr("min"));
                    var maxDate = new Date($(this).attr("max"));
                    $(this).datepicker({
                        defaultDate: new Date(),
                        dateFormat: "dd-mm-yy",
                        beforeShowDay: function (date) {
                            return [date >= minDate && date <= maxDate && date.getDay() !== 0];
                        }
                    });
                });
            }
        });


    </script>
    <script src="~/js/custom.js"></script>
}