@model myWebApp.ViewModels.Director.RolesVM
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Roles</h4>
                        <form class="forms-sample" method="post"
                              asp-controller="Director" asp-action="AddRoles">
                            <div class="row justify-content-between">
                                <div class="col-4">
                                    <div class="form-group">
                                        <label asp-for="RoleName">Role Name</label>
                                        <input type="text" class="form-control" asp-for="RoleName" placeholder="Enter Role Name" />
                                        <span asp-validation-for="RoleName" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="col-1 mt-4">
                                    <button type="button" class="btn btn-sm btn-success" onclick="SelectAllPermissions()">Select All</button>
                                </div>
                            </div>
                            <div class="row">
                                @for (var per = 0; per < Model.AddUpdatePermissions.Count(); per++)
                                {
                                    <input type="hidden" asp-for="@Model.AddUpdatePermissions[per].PermissionId" />
                                    <input type="hidden" asp-for="@Model.AddUpdatePermissions[per].PermissionName" />
                                    <div class="col-2 mt-2">
                                        <div class="form-check">
                                            <label class="form-check-label badge badge-info"><input type="checkbox" class="form-check-input" asp-for="@Model.AddUpdatePermissions[per].isSelected" />@Model.AddUpdatePermissions[per].PermissionName</label>
                                        </div>
                                    </div>
                                }
                                @*<input type="hidden" asp-for="AddUpdatePermissions"/>*@
                            </div>
                            <div class="row justify-content-end">
                                <div class="col-4">
                                    <div class="float-right">
                                        <button type="submit" asp-for="RolesVM(@Model.AddUpdatePermissions)" class="btn btn-primary mr-2">Add</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/js/Custom.js"></script>
}