@model myWebApp.ViewModels.Setups.Campus.CampusVM
@{
}
       <div class="main-panel">        
        <div class="content-wrapper">
        <div class="row">
            <div class="col-12 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Update Campus</h4>
                  @*<p class="card-description">
                    Please Update Campus and Press the Update Button.
                  </p>*@
                  <form class="forms-sample" method="post"
                  asp-controller="Setup" asp-action="UpdateCampus">
                      <div class="row">
                      <input type="hidden" asp-for="CampusId"/>
                      <div class="col-4">
                         <div class="form-group">
                      <label asp-for="CampusName">Campus Name</label>
                      <input type="text" class="form-control" asp-for="CampusName" placeholder="Enter Campus Name" />
                      <span asp-validation-for="CampusName" class="text-danger"></span>
                    </div>
                    </div>
                     <div class="col-4">
                        <div class="form-group">
                    <label asp-for="SchoolId">School Name</label>
                    <select asp-for="SchoolId" class="form-select" aria-label="Default select example">
                      <option selected value="@null">Select School Please</option>
                            @foreach (var school in ViewBag.Schools)
                            {
                                <option value="@school.SchoolId">@school.SchoolName</option>
                            }
                    </select>
                      <span asp-validation-for="SchoolId" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="col-4">
                         <div class="form-group">
                      <label asp-for="PrincipalName">Principal Name</label>
                      <input type="text" class="form-control" asp-for="PrincipalName" placeholder="Enter Principal Name" />
                      <span asp-validation-for="PrincipalName" class="text-danger"></span>
                    </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <div class="form-group">
                      <label asp-for="Email">Email Address</label>
                      <input type="email" class="form-control" asp-for="Email" placeholder="Enter Email Please" />
                      <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                        </div>
                        <div class="col-3">
                         <div class="form-group">
                      <label asp-for="PhoneNo">Phone No</label>
                      <input type="text" class="form-control" asp-for="PhoneNo" placeholder="Enter Phone No" />
                      <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>
                    </div>
                        <div class="col-3">
                            <div class="form-group">
                              <label asp-for="address">Campus Address</label>
                              <input type="text" class="form-control" asp-for="address" placeholder="Enter Address Please" />
                              <span asp-validation-for="address" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-3">
                            <div class="form-group mt-2">
                                <select asp-for="IsActive" class="form-select" aria-label="Default select example">
                                  <option selected value="@null">Is Campus Active</option>
                                      <option value="@true">Yes</option>
                                      <option value="@false">No</option>
                                </select>
                                  <span asp-validation-for="IsActive" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="float-right mt-4">
                    <a class="btn btn-light" asp-controller="Setup" asp-action="Campus">Cancel</a>
                        <button type="submit" class="btn btn-primary mr-2">Update</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
           </div>
          </div>
         </div>